<title>Admin Commissions</title>
<app-breadcrumb [title]="'Admin Commissions'" [active_item]="'Admin Commission'">
</app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-drawer-container class="example-container" autosize>
                <div class="card">
                    <div class="card-header p-1">
                        <div class="d-flex justify-content-between">
                            <div class="main-header-left "></div>
                            <div ngbDropdown class="btn-group">
                                <div class="ml-2">
                                    <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Filter Admin Commission"
                                        (click)="drawer.toggle();">
                                        <i class="icon-filter p-0"></i>
                                        <span>Filter</span>
                                    </button>
                                    <button *ngIf="adminCommission && adminCommission.length > 0" type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px"
                                        title="DownLoad CSV" (click)="downloadCsv()">
                                        <i class="fa fa-download p-0"></i>
                                        <span>DownLoad CSV</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="adminCommission && adminCommission.length > 0 else NoCommission">
                        <div class="adminCommission table-responsive border-top userlist-table">
                            <table mat-table [dataSource]="adminCommission" class="mat-elevation-z8 table-striped table-vcenter" style="min-width: 1300px; box-shadow: none;"
                                aria-label="admincommission">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                        {{(paginate.currentPage - 1) * paginate.pageSize + i + 1}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="commission">
                                    <th mat-header-cell *matHeaderCellDef>Commission</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div *ngIf="element.commission else NoValue">
                                            {{element.commission | currency:'INR'}}
                                        </div>
                                        <ng-template #NoValue>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="serviceName">
                                    <th mat-header-cell *matHeaderCellDef>Service</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div *ngIf="element.serviceName else NoService">
                                            {{element.serviceName}}
                                        </div>
                                        <ng-template #NoService>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="bankName">
                                    <th mat-header-cell *matHeaderCellDef>Bank</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div *ngIf="element.bankName else NoBank">
                                            {{element.bankName}}
                                        </div>
                                        <ng-template #NoBank>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customerName">
                                    <th mat-header-cell *matHeaderCellDef colspan="2">Customer Name</th>
                                    <td mat-cell *matCellDef="let element" colspan="2">
                                        <div *ngIf="element.amountDisbursed else NoDetail">
                                            {{element.fullName}}
                                        </div>
                                        <ng-template #NoDetail>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customerContactNo">
                                    <th mat-header-cell *matHeaderCellDef colspan="2">Customer Contact No</th>
                                    <td mat-cell *matCellDef="let element" colspan="2">
                                        <div *ngIf="element.amountDisbursed else NoDetail">
                                            {{element.contactNo}}
                                        </div>
                                        <ng-template #NoDetail>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="loanAmount">
                                    <th mat-header-cell *matHeaderCellDef colspan="2">Loan Amount</th>
                                    <td mat-cell *matCellDef="let element" colspan="2">
                                        <div *ngIf="element.amountDisbursed else NoDetail">
                                            ₹{{element.amountDisbursed}}
                                        </div>
                                        <ng-template #NoDetail>
                                            --
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.createdDate | date:'medium'}}

                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayHistoryColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayHistoryColumns;" class="student-element-row" style="cursor: pointer;" (click)="navigateLoanDetail(row)">
                                </tr>
                            </table>
                        </div>
                    </ng-container>

                    <ng-template #NoCommission>
                        <div class="d-flex vertical-center nodata" style="height:calc(100vh - 260px)">

                        </div>
                    </ng-template>

                    <div class="card-footer" *ngIf="adminCommission && adminCommission.length > 0">
                        <ul class="pagination mb-0 float-right">
                            <li [ngClass]="{ disabled: paginate.currentPage == 1 }" class="page-item page-prev">
                                <a class="page-link" href="javascript:;" tabindex="-1" (click)="setPage(paginate.currentPage - 1)">
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li *ngFor="let page of paginate.pages" class="page-item active info" [ngClass]="{ active: paginate.currentPage == page }"><a
                                    [ngClass]="{current:paginate.currentPage == page}" class="page-link info" href="javascript:;" (click)="setPage(page)">{{page}}</a></li>
                            <li [ngClass]="{ disabled: paginate.currentPage === paginate.totalPages}" (click)="setPage(paginate.currentPage + 1)" class="page-item page-next">
                                <a class="page-link" href="javascript:;"><span>Next</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
                    <div class="col-lg-12 px-3 pt-3">
                        <div class="d-inline" style="width: 100%;"><i class="fa fa-filter pr-1"><span class="ml-1">Filter</span></i>
                            <button v class="close" aria-label="Close" (click)="drawer.toggle();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="position px-3">
                        <div class="form-group mb-2">
                            <label>Select Bank</label>
                            <ng-select [items]="bank" class="js-example-basic-single p-0" [(ngModel)]="selectedBank" placeholder="Select Bank" bindLabel="name" bindValue="id" name="bank">
                            </ng-select>

                        </div>
                        <div class="form-group">
                            <label>Select Service</label>
                            <ng-select [items]="services" class="js-example-basic-single p-0" [(ngModel)]="selectedService" placeholder="Select Service" bindLabel="displayName" bindValue="id"
                                name="service">
                            </ng-select>

                        </div>
                    </div>
                    <div class="modal-footer px-3" style="padding-bottom: 35px;justify-content: center;">
                        <div class="float-right d-inline">
                            <button type="button" class="btn btn-sm btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Clear Filter"
                                (click)="drawer.toggle();clearSearch();">
                                <span>Clear</span>
                            </button>
                            <button type="button" class="btn btn-sm btn-info" style="margin-right: 5px;border-radius: 10px; padding:8px 14px" title="Filter Loans"
                                (click)="drawer.toggle();setPage(1);">
                                <span>Search</span>
                            </button>
                        </div>
                    </div>
                    <div class="px-3">
                    </div>
                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>
</div>