<title>Connector</title>
<div *ngIf="paramid else Add">
    <app-breadcrumb [title]="'Connector'" [items]="[{'name':'Connector', 'route':'/connector'}]" [active_item]="'Edit'">
    </app-breadcrumb>
</div>
<ng-template #Add>
    <app-breadcrumb [title]="'Connector'" [items]="[{'name':'Connector', 'route':'/connector'}]" [active_item]="'Add'">
    </app-breadcrumb>
</ng-template>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="p-4">
                    <form [formGroup]="connectorform">
                        <div>
                            <h2>Personal Detail</h2>
                            <div class="form-row">
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-row">
                                        <div class="form-group">
                                            <div class="main-contact-info-header pt-3">
                                                <div *ngIf="!url else upload">
                                                    <img src="../../../assets/images/userprofile.png"
                                                        class="rounded-pill" width="120px" height="120px" alt=""
                                                        (click)="fileInput.click()" />
                                                </div>
                                                <ng-template #upload>
                                                    <img [src]="url" class="rounded-pill" width="120px" height="120px"
                                                        alt="" (click)="fileInput.click()" />
                                                </ng-template>
                                            </div>
                                            <a>
                                                <input type="file" #fileInput id="uploadFile"
                                                    (change)="selectedImage($event)" name="profilePicUrl"
                                                    accept="image/*" style="display:none;" />
                                            </a>
                                            <div class="center">
                                                <button class="p-2 text-black" *ngIf="this.url && this.url.length > 0"
                                                    (click)="removeImage()"
                                                    style="text-align:center; border: none; border-radius:40%; font-size: 20px;">
                                                    <i class="icon-trash"></i>
                                                </button>
                                                <button class="p-2 text-black" *ngIf="!this.url"
                                                    style="text-align:center; border: none; border-radius:40%; font-size: 18px;">
                                                    <i class="icon-gallery" (click)="fileInput.click()"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="gender">Gender <span style="color: red;">*</span></label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="radioinline1" type="radio"
                                                        value="Male" name="gender" formControlName="gender">
                                                    <label class="form-check-label" for="radioinline1">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="radioinline2" type="radio"
                                                        value="Female" name="gender" formControlName="gender">
                                                    <label class="form-check-label" for="radioinline2">Female</label>
                                                </div>
                                            </div>
                                            <mat-error
                                                *ngIf="(connectorform.get('gender') && !connectorform.get('gender')?.valid && connectorform.get('gender')?.touched)">
                                                Gender is required
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="fullName">Full Name <span style="color: red;">*</span></label>
                                            <input class="form-control" type="text" id="fullName" name="fullName"
                                                formControlName="fullName" onlyAlphabets placeholder="Type here"
                                                required />
                                            <mat-error
                                                *ngIf="(connectorform.get('fullName') && !connectorform.get('fullName')?.valid && connectorform.get('fullName')?.touched)">
                                                Full Name is required
                                            </mat-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="contactNo">Contact No <span style="color: red;">*</span></label>
                                            <input class="form-control" type="text" maxlength="10" minlength="0"
                                                id="contactNo" name="contactNo" formControlName="contactNo"
                                                placeholder="Enter your mobile no" ContactNo required>
                                            <mat-error
                                                *ngIf="(connectorform.get('contactNo') && !connectorform.get('contactNo').valid  && connectorform.get('contactNo').touched)">
                                                <span *ngIf="connectorform.get('contactNo').errors.required">
                                                    Contact no is Required</span>
                                                <span *ngIf="connectorform.get('contactNo').errors.minlength">Enter
                                                    Valid Contact no</span>
                                            </mat-error>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="aadhaarCardNo">Aadhaar Card No <span
                                                    style="color: red;">*</span></label>
                                            <input class="form-control" type="text" id="aadhaarCardNo"
                                                formControlName="aadhaarCardNo" placeholder="Type here" maxlength="12"
                                                onlyNumbers required>
                                            <mat-error
                                                *ngIf="(connectorform.get('aadhaarCardNo') && !connectorform.get('aadhaarCardNo')?.valid && connectorform.get('aadhaarCardNo')?.touched)">
                                                Aadhaar Card no is required
                                            </mat-error>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="panCardNo">PAN Card No <span
                                                    style="color: red;">*</span></label>
                                            <input class="form-control" type="text" id="panCardNo"
                                                formControlName="panCardNo" placeholder="Enter your pan card no"
                                                maxlength="10" (keypress)="keyPressAlphanumeric($event)"
                                                oninput="this.value = this.value.toUpperCase()" required>
                                            <mat-error
                                                *ngIf="(connectorform.get('panCardNo') && !connectorform.get('panCardNo')?.valid && connectorform.get('panCardNo')?.touched)">
                                                PAN Card no is required
                                            </mat-error>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Job Type <span style="color: red;">*</span></label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="radioinline2" type="radio"
                                                        value="FullTime" name="jobType" formControlName="jobType">
                                                    <label class="form-check-label" for="radioinline2">Full
                                                        Time</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" id="radioinline1" type="radio"
                                                        value="PartTime" name="jobType" formControlName="jobType">
                                                    <label class="form-check-label" for="radioinline1">Part
                                                        Time</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h2>Adderss</h2>
                            <div class="form-group">
                                <label for="label">Company Name <span style="color: red;">*</span></label>
                                <input class="form-control" type="text" id="label" formControlName="label"
                                    placeholder="Type here" onlyAlphabets required>
                                <mat-error
                                    *ngIf="(connectorform.get('label') && !connectorform.get('label')?.valid && connectorform.get('label')?.touched)">
                                    Company name is required
                                </mat-error>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="addressLine1">Address Line 1 <span style="color: red;">*</span></label>
                                    <input class="form-control" type="text" id="addressLine1"
                                        formControlName="addressLine1" placeholder="Type here" name="addressLine1"
                                        required />
                                    <mat-error
                                        *ngIf="(connectorform.get('addressLine1') && !connectorform.get('addressLine1')?.valid && connectorform.get('addressLine1')?.touched)">
                                        AddressLine1 is required
                                    </mat-error>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="addressLine2">Address Line 2</label>
                                    <input class="form-control" type="text" id="addressLine2"
                                        formControlName="addressLine2" placeholder="Type here" name="addressLine2" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="pincode">Pin Code <span style="color: red;">*</span></label>
                                    <input class="form-control" type="text" id="pincode" formControlName="pincode"
                                        placeholder="Type here" maxlength="6" onlyNumbers
                                        (keyup)="onKeyUpEvent($event,true)" required>
                                    <mat-error
                                        *ngIf="(connectorform.get('pincode') && !connectorform.get('pincode')?.valid && connectorform.get('pincode')?.touched)">
                                        Pin Code is required
                                    </mat-error>
                                </div>
                                <div class="form-group col">
                                    <label for="cityId">City <span style="color: red;">*</span></label>
                                    <ng-select [items]="cities" class="js-example-basic-single p-0"
                                        placeholder="Select city" bindLabel="name" bindValue="id" name="cityId"
                                        formControlName="cityId" name="cityId"></ng-select>
                                    <mat-error
                                        *ngIf="(connectorform.get('cityId') && !connectorform.get('cityId')?.valid && connectorform.get('cityId')?.touched)">
                                        City is required
                                    </mat-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="districtName">District <span style="color: red;">*</span></label>
                                    <input class="form-control" type="text" id="districtName"
                                        formControlName="districtName" placeholder="Type here" required>
                                    <mat-error
                                        *ngIf="(connectorform.get('districtName') && !connectorform.get('districtName')?.valid && connectorform.get('districtName')?.touched)">
                                        District is required
                                    </mat-error>
                                </div>
                                <div class="form-group col">
                                    <label for="state">State <span style="color: red;">*</span></label>
                                    <input class="form-control" type="text" id="state" formControlName="state"
                                        placeholder="Type here" required>
                                    <mat-error
                                        *ngIf="(connectorform.get('state') && !connectorform.get('state')?.valid && connectorform.get('state')?.touched)">
                                        State is required
                                    </mat-error>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h2>Other Detail</h2>
                            <div class="form-group">
                                <label for="commitment">Business Commitment(Amount) <span
                                        style="color: red;">*</span></label>
                                <input class="form-control" type="text" id="commitment" formControlName="commitment"
                                    placeholder="Enter your commitment" onlyNumbers required>
                                <mat-error
                                    *ngIf="(connectorform.get('commitment') && !connectorform.get('commitment')?.valid && connectorform.get('commitment')?.touched)">
                                    Business Commitment is required
                                </mat-error>
                            </div>
                        </div>

                        <div>
                            <h2>Bank Detail</h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="accountHolderName">Account Holder Name</label>
                                    <input class="form-control" type="text" id="accountHolderName"
                                        formControlName="accountHolderName" placeholder="Type here" onlyAlphabets>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="bankId">Bank</label>
                                    <ng-select [items]="banks" class="js-example-basic-single p-0"
                                        placeholder="Select Bank" bindLabel="name" bindValue="id" name="bankId"
                                        formControlName="bankId"></ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="accountNo">Account No</label>
                                    <input class="form-control" type="text" id="accountNo" formControlName="accountNo"
                                        placeholder="Type here" onlyNumbers>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ifscCode">IFSC Code</label>
                                    <input class="form-control" type="text" id="ifscCode" formControlName="ifscCode"
                                        placeholder="Type here" (keypress)="keyPressAlphanumeric($event)"
                                        oninput="this.value = this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-sm btn-info" type="submit" (click)="insertConnector()"
                                style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                Save
                            </button>
                            <button class="btn btn-sm btn-info" type="reset" (click)="cancelUser()"
                                style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                Cancel
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>