<title>DSA</title>
<app-breadcrumb [title]="'DSA'" [active_item]="'Dsa'">
</app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-drawer-container autosize>
                <div class="card">
                    <div class="card-header p-1">
                        <div class="d-flex justify-content-between">
                            <div class="main-header-left">
                            </div>
                            <div ngbDropdown class="btn-group">
                                <div class="ml-2">
                                    <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" *ngIf="isWritePermission" (click)="addDsa()"
                                        title="Insert DSA">
                                        <i class="fa fa-plus"></i>
                                    </a>

                                    <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Filter Dsa" (click)="drawer.toggle();">
                                        <i class="icon-filter p-0"></i>
                                        <span>Filter</span>
                                    </button>
                                    <button *ngIf="dsa && dsa.length > 0" type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="DownLoad CSV"
                                        (click)="downloadCsv()">
                                        <i class="fa fa-download p-0"></i>
                                        <span>DownLoad CSV</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="dsa && isFlag else NoDsaData">
                        <div class="dsa table-responsive userlist-table">
                            <table mat-table [dataSource]="dsa" class="mat-elevation-z8 table-striped table-vcenter lastcolumntable" style="min-width: 1900px; box-shadow: none;" aria-label="">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="width:75px;">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                        {{(paginate.currentPage - 1) * paginate.pageSize + i + 1}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="dsaCode">
                                    <th mat-header-cell *matHeaderCellDef>Code</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.code else NoValue">
                                            {{element.code}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef style="width: 12%;">Name</th>
                                    <td mat-cell *matCellDef="let element" style="width: 12%;">
                                        <ng-container *ngIf="element.fullName else NoValue">
                                            {{element.fullName}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="contactNo">
                                    <th mat-header-cell *matHeaderCellDef>ContactNo</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.contactNo else NoValue">
                                            {{element.contactNo}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="city">
                                    <th mat-header-cell *matHeaderCellDef>City</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.cityName else NoValue">
                                            {{element.cityName}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="totalApplication">
                                    <th mat-header-cell *matHeaderCellDef>Application<br> Applied</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.totalApplicationReceived else NoValue">
                                            {{element.totalApplicationReceived}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="loanAmontMonth">
                                    <th mat-header-cell *matHeaderCellDef>LoanAmount<br>(Month)</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.thisMonthAmount else NoValue">
                                            <span *ngIf="element.thisMonthAmount">
                                                ₹{{element.thisMonthAmount| number:'0.2-2'}}
                                            </span>
                                        </ng-container>
                                        <ng-template #NoValue>
                                            ₹<span class="text-center">0</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="loanAmount">
                                    <th mat-header-cell *matHeaderCellDef>LoanAmount</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.totalAmount else NoValue">
                                            <span *ngIf="element.totalAmount">
                                                ₹{{element.totalAmount| number:'0.2-2'}}
                                            </span>
                                        </ng-container>
                                        <ng-template #NoValue>
                                            ₹<span class="text-center">0</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="pending">
                                    <th mat-header-cell *matHeaderCellDef>Pending<br>Application</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.totalPending else NoValue">
                                            {{element.totalPending}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="badge">
                                    <th mat-header-cell *matHeaderCellDef>Badge</th>
                                    <td mat-cell *matCellDef="let element; let i = index;">
                                        <ng-container *ngIf="element.badgeName else NoValue">
                                            {{element.badgeName}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="createdDate">
                                    <th mat-header-cell *matHeaderCellDef>Created Date</th>
                                    <td mat-cell *matCellDef="let element; let i = index;">
                                        <ng-container *ngIf="element.createdDate else NoValue">
                                            {{element.createdDate | date:'medium'}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="(element.isDisabled) else Approved" style="color: #ff0000;">
                                            DisApproved
                                        </span>
                                        <ng-template #Approved>
                                            <span style="color: #0b9d0b;">Approved</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="isDelete">
                                    <th mat-header-cell *matHeaderCellDef style="width: 5%;">Delete</th>
                                    <td mat-cell *matCellDef="let element" style="width: 5%;">
                                        <span *ngIf="(element.isDelete == '1') else NoDeleted" style="color: #ff0000;">
                                            Yes
                                        </span>
                                        <ng-template #NoDeleted>
                                            <span style="color: #0b9d0b;">No</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action" stickyEnd>
                                    <th class="text-center" mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element" class="text-right">
                                        <button mat-button [matMenuTriggerFor]="beforeMenu" (click)="toggleMenuService.toggleMenuStyles()"> <a href="javascript:;" class="btn btn-sm btn-info"
                                                title="Action" style="padding: 10px 12px;border-radius: 10px;margin: 0 5px;">
                                                <i class="fa fa-angle-down"></i>
                                            </a></button>
                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                            <div *ngIf="!element.isDelete && isEditPermission && element.isDisabled " mat-menu-item class="p-0 mx-2" (click)="verifiedPartner(element,commissionModal)">
                                                <a title="Approved/DisApproved DSA" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="icon-lock"></i>
                                                </a>Verify
                                            </div>
                                            <div *ngIf="!element.isDelete && isEditPermission && !element.isDisabled " mat-menu-item class="p-0 mx-2"
                                                (click)="verifiedPartner(element,commissionModal)">
                                                <a title="Approved/DisApproved DSA" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="icon-unlock"></i>
                                                </a>Unverified
                                            </div>
                                            <div *ngIf="!element.isDelete && isEditPermission" mat-menu-item class="p-0 mx-2" (click)="editDsa(element)">
                                                <a title="Edit DSA" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="icon-pencil"></i>
                                                </a>Edit
                                            </div>
                                            <div mat-menu-item class="p-0 mx-2" *ngIf="isReadPermission" (click)="viewDetail(element)">
                                                <a title="View Detail" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="icon-eye"></i>
                                                </a>View Detail
                                            </div>
                                            <div *ngIf="!element.isDelete && isDeletePermission" mat-menu-item class="p-0 mx-2" (click)="warningAlert(element)">
                                                <a title="Delete DSA" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="fa fa-trash"></i>
                                                </a>Delete
                                            </div>
                                            <div *ngIf="!element.isDelete && isEditPermission && !element.isDisabled" mat-menu-item class="p-0 mx-2" (click)="changeBadge(element,commissionModal)">
                                                <a title="Change Badge" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 5px;">
                                                    <i class="icon-eye"></i>
                                                </a>Change Badge
                                            </div>
                                            <div *ngIf="!element.isDelete && isEditPermission && !element.isDisabled" mat-menu-item class="p-0 mx-2"
                                                (click)="insertPartnerCommission(commissionModal,element)">
                                                <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" title="Insert DSA Commission">
                                                    <i class="fa fa-plus"></i>
                                                </a>Add Commission
                                            </div>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="dsaColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: dsaColumns;" class="student-element-row" style="cursor: pointer;"></tr>
                            </table>
                        </div>
                    </ng-container>

                    <ng-template #NoDsaData>
                        <div class="d-flex vertical-center nodata" style="height:calc(100vh - 260px)">

                        </div>
                    </ng-template>

                    <div class="card-footer" *ngIf="dsa && dsa.length > 0">
                        <ul class="pagination mb-0 float-right">
                            <li [ngClass]="{ disabled: paginate.currentPage == 1 }" class="page-item page-prev">
                                <a class="page-link" href="javascript:;" tabindex="-1" (click)="setPage(paginate.currentPage - 1)">
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li *ngFor="let page of paginate.pages" class="page-item active" [ngClass]="{ active: paginate.currentPage == page }"><a [ngClass]="{current:paginate.currentPage == page}"
                                    class="page-link" href="javascript:;" (click)="setPage(page)">{{page}}</a></li>
                            <li [ngClass]="{ disabled: paginate.currentPage === paginate.totalPages}" (click)="setPage(paginate.currentPage + 1)" class="page-item page-next">
                                <a class="page-link" href="javascript:;"><span>Next</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
                    <div class="col-lg-12 px-3 pt-3">
                        <div class="d-inline" style="width: 100%;"><i class="fa fa-filter"><span class="ml-1">
                                    Filter</span></i>
                            <button v class="close" aria-label="Close" (click)="drawer.toggle();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="position px-3">
                        <div class="form-group">
                            <label for="fullName">Search</label>
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchString" />
                        </div>
                        <div class="form-group ">
                            <label for="cityId">DSA Status</label>
                            <ng-select [items]="status" class="js-example-basic-single p-0" bindLabel="name" bindValue="name" name="statusId" [(ngModel)]="selectedStatus">
                            </ng-select>
                        </div>
                        <div class="form-group ">
                            <label for="cityId">Badge</label>
                            <ng-select [items]="badges" class="js-example-basic-single p-0" bindLabel="name" bindValue="id" name="badgeId" [(ngModel)]="selectedBadge">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="isDelete">Is Delete</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioinline1" type="radio" value="Yes" name="isDelete" [(ngModel)]="isDelete">
                                    <label class="form-check-label" for="radioinline1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioinline2" type="radio" value="No" name="isDelete" [(ngModel)]="isDelete">
                                    <label class="form-check-label" for="radioinline2">No</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-form-label">From Date</div>
                            <mat-form-field appearance="outline" class="d-block w-100" (click)="toggleMenuService.togglePickerStyles()">
                                <input matInput [matDatepicker]="filterPickerFrom" [max]="dateTo" placeholder="From Date" [(ngModel)]="dateFrom" name="fromDate" [readonly]="true"
                                    (focus)="filterPickerFrom.open()" (click)="toggleMenuService.togglePickerStyles()">
                                <mat-datepicker-toggle matSuffix [for]="filterPickerFrom" (click)="toggleMenuService.togglePickerStyles()">
                                </mat-datepicker-toggle>
                                <mat-datepicker #filterPickerFrom></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <div class="col-form-label">To Date</div>
                            <mat-form-field appearance="outline" class="d-block w-100 ">
                                <input matInput [matDatepicker]="FilterPickerTo" [max]="dateTo" placeholder="To Date" [(ngModel)]="dateTo" name="toDate" [readonly]="true"
                                    (focus)="FilterPickerTo.open()">
                                <mat-datepicker-toggle matSuffix [for]="FilterPickerTo">
                                </mat-datepicker-toggle>
                                <mat-datepicker #FilterPickerTo></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="modal-footer p-0" style="margin-bottom: 20px;justify-content: center;">
                        <div class="float-right d-inline">
                            <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Clear Filter" (click)="drawer.toggle();clearSearch();">
                                <span>Clear</span>
                            </button>
                            <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Filter DSA" (click)="drawer.toggle();filterDsa();">
                                <span>Search</span>
                            </button>
                        </div>
                    </div>
                    <div class="px-3">
                    </div>

                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>
</div>

<ng-template #commissionModal let-modal>
    <div>

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pd-20" [ngClass]="{documentModal:isCommission}">
            <ng-container *ngIf="isCommission else changeBadge">
                <form [formGroup]="commissionForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-2">
                                <label>Select Bank</label>
                                <ng-select [items]="bank" class="js-example-basic-single p-0" formControlName="bankId" placeholder="Select Bank" bindLabel="name" bindValue="id" name="bank" required
                                    (change)="getBankLoanCommission()"></ng-select>
                                <mat-error *ngIf=" (commissionForm.get('bankId') && !commissionForm.get('bankId').valid &&
                        commissionForm.get('bankId').touched) ">
                                    Bank Selection is required
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class=" form-group">
                                <label>Select Service</label>
                                <ng-select [items]="services" class="js-example-basic-single p-0" formControlName="serviceId" placeholder="Select Service" bindLabel="displayName" bindValue="id"
                                    name="service" required (change)="getBankLoanCommission()">
                                </ng-select>
                                <mat-error *ngIf="(commissionForm.get('serviceId') && !commissionForm.get('serviceId').valid && commissionForm.get('serviceId').touched)">
                                    Service is required
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="bankGetCommission">
                        <p>You Get:{{bankGetCommission}}%</p>
                    </div>
                    <div class="row mx-0 mb-3">

                        <div class="col-lg commission mr-2" *ngFor="let commissionTemplate of templates" [ngStyle]="{'background-color':commissionTemplate.isSelected?'#dad6ff':'#fff'}">
                            <a title="select Template" style="cursor: pointer;" (click)="selectedTemplate(commissionTemplate)">
                                <div>
                                    <h4>{{commissionTemplate.name}}</h4>
                                    {{commissionTemplate.commissiontype}}:
                                    {{commissionTemplate.commission}}%
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Select CommissionType</label>
                                <ng-select [items]="commissionType" class="js-example-basic-single p-0" formControlName="commissionTypeId" placeholder="Select CommissionType" bindLabel="name"
                                    bindValue="id" groupBy="parentName" name="commissionType" required (change)="getBankLoanCommission()" [readonly]="isSelected">
                                </ng-select>

                                <mat-error *ngIf="(commissionForm.get('commissionTypeId') && !commissionForm.get('commissionTypeId').valid && commissionForm.get('commissionTypeId').touched)">
                                    CommissionType is required
                                </mat-error>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Commission(In %)</label>
                                <input class="form-control" type="text" name="commission" formControlName="commission" required (keyup)="calculateCommission()" [readonly]="isSelected"
                                    NumberWithDecimal>
                                <mat-error *ngIf="(commissionForm.get('commission') && !commissionForm.get('commission').valid && commissionForm.get('commission').touched)">
                                    Commission is required
                                </mat-error>
                                <mat-error *ngIf="isCommissionError">
                                    Commission is not greater than admin can get
                                </mat-error>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="showCommission">
                        <p>You Give:{{showCommission}}%</p>
                    </div>
                </form>
                <div class="col-lg-12">
                    <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="addMoreCommission(commissionForm);"
                        title="Add Commission">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-lg-12" *ngIf="commissions && commissions.length > 0">
                    <div class="table-responsive border-top userlist-table">
                        <table mat-table [dataSource]="commissions" class=" mat-elevation-z8 table-striped table-vcenter" style="box-shadow: none;" aria-label="">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{i + 1}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="bank">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">Bank Name</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{element.bankName}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="service">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">Service</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{element.serviceName}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="commissionType">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">Commission Type</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{element.commissionType}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="commission">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">Commission</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{element.commission}}%
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef style="width:75px;text-align: end;">Action</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px;text-align: end">
                                    <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="deleteCommission(element,i);"
                                        title="Delete Commission">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="commissionColumn; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: commissionColumn;" class="student-element-row" style="cursor: pointer;"></tr>
                        </table>
                    </div>
                </div>
            </ng-container>
            <ng-template #changeBadge>
                <div class="form-group mb-2">
                    <label>Select Badge</label>
                    <ng-select [items]="badges" class="js-example-basic-single p-0" [formControl]="badgeId" bindLabel="name" bindValue="id" name="badge" required></ng-select>
                    <mat-error *ngIf=" (badgeId && !badgeId.valid &&
                    badgeId.touched) ">
                        Badge Selection is required
                    </mat-error>
                </div>
            </ng-template>
        </div>
        <div class="modal-footer">

            <div class="col-lg-12">

                <ng-container *ngIf="isCommission else saveChangeBadge">
                    <button class="btn btn-info float-right" (click)="insertCommission(commissionForm)" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                        Save
                    </button>
                </ng-container>
                <ng-template #saveChangeBadge>
                    <button class="btn btn-info float-right" (click)="assignBadge()" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                        Save
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>