<!-- Maintenance start-->
<div class="error-wrapper maintenance-bg">
    <div class="container">
        <ul>
            <li>
                <i class="fa fa-user-times"
                    style="animation: rotate-effect 30s infinite linear;font-size: 150px;margin-top: -85px;color: #59667a;">
                </i>
            </li>
        </ul>
        <div class="maintenance-heading" style="margin-top:120px">
            <h2 class="headline">Permission Denied</h2>
        </div>
        <h4 class="sub-content">You have no permission to access this Page. Contact to Admin for more information</h4>
        <div><a class="btn btn-primary-gradien btn-lg text-light" routerLink='/login'>BACK TO LOGIN PAGE</a></div>
    </div>
</div>
<!-- Maintenance end-->