<title>Customers</title>
<app-breadcrumb [title]="'Customers'" [active_item]="'Customers'">
</app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-drawer-container autosize>
                <div class="card">
                    <div class="card-header p-1">
                        <div class="d-flex justify-content-between">
                            <div class="main-header-left ">
                            </div>
                            <div ngbDropdown class="btn-group">
                                <div class="ml-2">
                                    <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="addCustomer()" *ngIf="isWritePermission"
                                        title="Insert DSA">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Filter Customer" (click)="drawer.toggle();">
                                    <i class="icon-filter p-0"></i>
                                    <span>Filter</span>
                                </button>
                                <button *ngIf="customers && customers.length > 0" type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="DownLoad CSV"
                                    (click)="downloadCsv()">
                                    <i class="fa fa-download p-0"></i>
                                    <span>DownLoad CSV</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="customers && isFlag else NoCustomerData">
                        <div class="customer example-container mat-elevation-z8">
                            <table mat-table [dataSource]="customers" class="mat-elevation-z8 table-striped table-vcenter lastcolumntable" style="min-width: 1700px; box-shadow: none;" aria-label="customer">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                        {{(paginate.currentPage - 1) * paginate.pageSize + i + 1}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef>Code</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.code else NoValue">
                                            {{element.code}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef colspan="2" style="width: 20%;">Name</th>
                                    <td mat-cell *matCellDef="let element" colspan="2" style="width: 20%;">
                                        <ng-container *ngIf="element.fullName else NoValue">
                                            {{element.fullName}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="contact">
                                    <th mat-header-cell *matHeaderCellDef style="width: 12%;">
                                        Contact</th>
                                    <td mat-cell *matCellDef="let element" style="width: 12%;">
                                        <ng-container *ngIf="element.contactNo else NoValue">
                                            {{element.contactNo}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="city">
                                    <th mat-header-cell *matHeaderCellDef style="width: 12%;">
                                        City</th>
                                    <td mat-cell *matCellDef="let element" style="width: 12%;">
                                        <ng-container *ngIf="element.city else NoValue">
                                            {{element.city}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="state">
                                    <th mat-header-cell *matHeaderCellDef style="width: 12%;">
                                        State</th>
                                    <td mat-cell *matCellDef="let element" style="width: 12%;">
                                        <ng-container *ngIf="element.state else NoValue">
                                            {{element.state}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="birthDate">
                                    <th mat-header-cell *matHeaderCellDef style="width: 12%;">
                                        BirthDate</th>
                                    <td mat-cell *matCellDef="let element" style="width: 12%;">
                                        <ng-container *ngIf="element.birthdate else NoValue">
                                            {{element.birthdate | date}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="gender">
                                    <th mat-header-cell *matHeaderCellDef style="width:9%">Gender</th>
                                    <td mat-cell *matCellDef="let element" style="width:9%">
                                        <ng-container *ngIf="element.gender else NoGender">
                                            {{element.gender}}
                                        </ng-container>
                                        <ng-template #NoGender>
                                            <span>--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customerGroup">
                                    <th mat-header-cell *matHeaderCellDef>Group</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.customerGroup else NoCustomerGroup">
                                            {{element.customerGroup}}
                                        </ng-container>
                                        <ng-template #NoCustomerGroup>
                                            <span>--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="partner">
                                    <th mat-header-cell *matHeaderCellDef style="width: 18%;">Partner</th>
                                    <td mat-cell *matCellDef="let element" style="width: 18%;" (click)="navigatePartnerViewDetail(element)">
                                        <ng-container *ngIf="element.customerGroup != 'CUSTOMERS' else NoPartner">
                                            {{element.partnerName}}-{{element.partnerContactNo}}
                                        </ng-container>
                                        <ng-template #NoPartner>
                                            <span>--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="createdDate">
                                    <th mat-header-cell *matHeaderCellDef style="width:9%">Created Date</th>
                                    <td mat-cell *matCellDef="let element" style="width:9%">
                                        {{element.createdDate | date:'medium'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="isDelete">
                                    <th mat-header-cell *matHeaderCellDef style="width:6%">Delete</th>
                                    <td mat-cell *matCellDef="let element" style="width:6%">
                                        <span *ngIf="(element.isDelete == '1') else NoDeleted" style="color: #ff0000;">
                                            Yes
                                        </span>
                                        <ng-template #NoDeleted>
                                            <span style="color: #0b9d0b;">No</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action" stickyEnd>
                                    <th class="text-right" mat-header-cell *matHeaderCellDef>Action
                                    </th>
                                    <td class="text-right" mat-cell *matCellDef="let element">
                                        <button mat-button [matMenuTriggerFor]="beforeMenu" (click)="toggleMenuService.toggleMenuStyles()"> <a href="javascript:;" class="btn btn-sm btn-info" title="Action"
                                                style="padding: 10px 12px;border-radius: 10px;margin: 0 5px;">
                                                <i class="fa fa-angle-down"></i>
                                            </a></button>
                                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                                            <div *ngIf="!element.isDelete && isWritePermission" mat-menu-item class="p-0 mx-2" (click)="selectServiceModal(element,serviceModal)">
                                                <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" title="Insert Loan">
                                                    <i class="fa fa-plus"></i>
                                                </a>Add
                                            </div>
                                            <div mat-menu-item class="p-0 mx-2" *ngIf="isReadPermission" (click)="navigateViewDetail(element)">
                                                <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" title="View Customer">
                                                    <i class="fa fa-eye"></i>
                                                </a>View Detail
                                            </div>
                                            <div *ngIf="!element.isDelete && isEditPermission" mat-menu-item class="p-0 mx-2" (click)="navigateEditCustomer(element)">
                                                <a href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" title="Edit Customer">
                                                    <i class="fa fa-pencil"></i>
                                                </a>Edit
                                            </div>
                                            <div *ngIf="!element.isDelete && isDeletePermission" mat-menu-item class="p-0 mx-2" (click)="warningAlert(element)">
                                                <a title="Delete DSA" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                                                    <i class="fa fa-trash"></i>
                                                </a>Delete
                                            </div>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="customerColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: customerColumns;" class="student-element-row" style="cursor: pointer;"></tr>
                            </table>
                        </div>
                    </ng-container>

                    <ng-template #NoCustomerData>
                        <div class="d-flex vertical-center nodata" style="height:calc(100vh - 260px)">
                        </div>
                    </ng-template>
                    <div class="card-footer" *ngIf="customers && customers.length > 0">
                        <ul class="pagination mb-0 float-right">
                            <li [ngClass]="{ disabled: paginate.currentPage == 1 }" class="page-item page-prev">
                                <a class="page-link" href="javascript:;" tabindex="-1" (click)="setPage(paginate.currentPage - 1)">
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li *ngFor="let page of paginate.pages" class="page-item active" [ngClass]="{ active: paginate.currentPage == page }">
                                <a [ngClass]="{current:paginate.currentPage == page}" class="page-link" href="javascript:;" (click)="setPage(page)">
                                    {{page}}
                                </a>
                            </li>
                            <li [ngClass]="{ disabled: paginate.currentPage === paginate.totalPages}" (click)="setPage(paginate.currentPage + 1)" class="page-item page-next">
                                <a class="page-link" href="javascript:;"><span>Next</span></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
                    <div class="col-lg-12 px-3 pt-3">
                        <div class="d-inline" style="width: 100%;"><i class="fa fa-filter"><span class="ml-1">
                                    Filter</span></i>
                            <button v class="close" aria-label="Close" (click)="drawer.toggle();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="position px-3">
                        <div class="form-group">
                            <label for="fullName">Search</label>
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchString" />
                        </div>
                        <div class="form-group">
                            <label for="cityId">Select role</label>
                            <ng-select [items]="roles" class="js-example-basic-single p-0" bindLabel="name" bindValue="id" name="statusId" [(ngModel)]="selectedRoles" name="roleId" [multiple]="true">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input class="form-control" type="text" name="pincode" [(ngModel)]="pincode" (keyup)="onKeyUpEvent($event,true,true)" />
                        </div>
                        <div class="form-group" *ngIf="filterCities &&  filterCities.length > 0">
                            <label for="cityId">Select City</label>
                            <ng-select [items]="filterCities" class="js-example-basic-single p-0" bindLabel="name" bindValue="id" name="cityId" [(ngModel)]="cityIds" [multiple]="true">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="cityId">Select State</label>
                            <ng-select [items]="states" class="js-example-basic-single p-0" bindLabel="name" bindValue="id" name="stateId" [(ngModel)]="stateIds" [multiple]="true">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="cityId">Select Loan Type</label>
                            <ng-select [items]="services" class="js-example-basic-single p-0" bindLabel="name" bindValue="id" name="serviceId" [(ngModel)]="serviceIds" [multiple]="true">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="cityId">Select Status</label>
                            <ng-select [items]="statuses" class="js-example-basic-single p-0" bindLabel="status" bindValue="id" name="statusId" [(ngModel)]="statusIds" [multiple]="true">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="isDelete">Is Delete</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioinline1" type="radio" value="Yes" name="isDelete" [(ngModel)]="isDelete">
                                    <label class="form-check-label" for="radioinline1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioinline2" type="radio" value="No" name="isDelete" [(ngModel)]="isDelete">
                                    <label class="form-check-label" for="radioinline2">No</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-form-label">From Date</div>
                            <mat-form-field appearance="outline" class="d-block w-100" (click)="toggleMenuService.togglePickerStyles()">
                                <input matInput [matDatepicker]="filterPickerFrom" [max]="dateTo" placeholder="From Date" [(ngModel)]="dateFrom" name="fromDate" [readonly]="true"
                                    (focus)="filterPickerFrom.open()" (click)="toggleMenuService.togglePickerStyles()">
                                <mat-datepicker-toggle matSuffix [for]="filterPickerFrom" (click)="toggleMenuService.togglePickerStyles()">
                                </mat-datepicker-toggle>
                                <mat-datepicker #filterPickerFrom></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="mt-3" style="padding-bottom: 15px;">
                            <div class="col-form-label">To Date</div>
                            <mat-form-field appearance="outline" class="d-block w-100 " (click)="toggleMenuService.togglePickerStyles()">
                                <input matInput [matDatepicker]="FilterPickerTo" placeholder="To Date" [(ngModel)]="dateTo" name="toDate" [readonly]="true" (focus)="FilterPickerTo.open()" (click)="toggleMenuService.togglePickerStyles()">
                                <mat-datepicker-toggle matSuffix [for]="FilterPickerTo" (click)="toggleMenuService.togglePickerStyles()">
                                </mat-datepicker-toggle>
                                <mat-datepicker #FilterPickerTo></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="modal-footer p-0" style="margin-bottom: 20px;justify-content: center;">
                        <div class="float-right d-inline">
                            <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Clear Filter" (click)="drawer.toggle();clearSearch();">
                                <span>Clear</span>
                            </button>
                            <button type="button" class="btn btn-info" style="margin-right: 5px;border-radius: 10px;padding:8px 14px" title="Filter Loans" (click)="drawer.toggle();filterCustomer();">
                                <span>Search</span>
                            </button>
                        </div>
                    </div>
                    <div class="px-3">
                    </div>

                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>
</div>

<ng-template #serviceModal let-modal>
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Select Service</h4>
            <ng-container *ngIf="!isCreditCardService else creditCard">
                <a *ngIf="(isListService && ((customerServices && customerServices.length == 0) || (isListService && customerServices[0].basicDetail.isDelete == 1))) || (isListService && customerServices[0].basicDetail.status == 'COMPLETED') "
                    href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="navigateAddLoanPage(serviceModal)" title="Insert Loan">
                    <i class="fa fa-plus"></i>
                </a>
            </ng-container>
            <ng-template #creditCard>
                <a *ngIf="(isListService && customerServices && customerServices.length == 0) || (isListService && customerServices[0].status == 'COMPLETED')" href="javascript:;"
                    class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="navigateAddLoanPage(serviceModal)" title="Insert CreditCard">
                    <i class="fa fa-plus"></i>
                </a>
            </ng-template>
            <a *ngIf="isListServiceType" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="modalOpen(basicmodal)"
                title="Insert Loan">
                <i class="fa fa-plus"></i>
            </a>

        </div>
        <div class="modal-body p-0">
            <ng-container *ngIf="isSelectService">
                <ul>
                    <li *ngFor="let service of services" class="service" (click)="getList(service,serviceModal)">
                        {{service.name}}
                    </li>
                    <li *ngFor="let serviceType of serviceTypes" class="service" (click)="getListServiceType(serviceType,serviceModal)">
                        {{serviceType.name}}
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="isListService">
                <ng-container *ngIf="!isCreditCardService else creditCardData">
                    <ng-container *ngIf="customerServices && customerServices.length > 0 else NoLoan">
                        <ng-container *ngIf="isAllowAddNewService else remainingDays">
                            <div class="table-responsive border-top userlist-table">
                                <table mat-table [dataSource]="customerServices" class="customerTable listTable mat-elevation-z8 table-striped table-vcenter" style="box-shadow: none;"
                                    aria-label="customerService">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                        <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                            {{i + 1}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="LoanAmount">
                                        <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail?.loanAmount else NoValue">
                                                ₹{{element.basicDetail?.loanAmount | number:'0.2-2'}}
                                            </ng-container>
                                            <ng-template #NoValue>
                                                ₹<span class="text-center">0</span>
                                            </ng-template>

                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Employment">
                                        <th mat-header-cell *matHeaderCellDef>Employment</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail?.employmentType else NoValue">
                                                {{element.basicDetail?.employmentType}}
                                            </ng-container>
                                            <ng-template #NoValue>
                                                <span class="text-center">--</span>
                                            </ng-template>

                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Income">
                                        <th mat-header-cell *matHeaderCellDef>Monthly Salary</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail?.monthlyIncome else NoValue">
                                                {{element.basicDetail?.monthlyIncome | number:'0.2-2'}}
                                            </ng-container>
                                            <ng-template #NoValue>
                                                ₹<span class="text-center">0</span>
                                            </ng-template>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail && element.basicDetail.status else NoValue">
                                                <span *ngIf="(element.basicDetail && element.basicDetail.status == 'PENDING' || element.basicDetail.status == 'REJECTED' ) else NoPending"
                                                    style="color: #ff0000;">
                                                    {{element.basicDetail?.status}}
                                                </span>
                                                <ng-template #NoPending>
                                                    <span style="color: #0b9d0b;">{{element.basicDetail?.status}}</span>
                                                </ng-template>
                                            </ng-container>
                                            <ng-template #NoValue>
                                                <span class="text-center">Under Editing</span>
                                            </ng-template>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="DSACode">
                                        <th mat-header-cell *matHeaderCellDef>DSACode</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail?.dsaCode else NoValue">
                                                {{element.basicDetail?.dsaCode}}
                                            </ng-container>
                                            <ng-template #NoValue>
                                                <span class="text-center">--</span>
                                            </ng-template>

                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="rmFullName">
                                        <th mat-header-cell *matHeaderCellDef>Assigned RM</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngIf="element.basicDetail?.rmFullName else NoValue">
                                                {{element.basicDetail?.rmFullName}}
                                            </ng-container>
                                            <ng-template #NoValue>
                                                <span class="text-center">--</span>
                                            </ng-template>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
                                        <td mat-cell *matCellDef="let element" class="text-right">
                                            <a *ngIf="(element.basicDetail && element.basicDetail.status == 'PENDING' || element.basicDetail.status == 'RM ASSIGNED' || !element.basicDetail.status) && (element.basicDetail.createBy == userId)"
                                                href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="navigateEditLoanPage(element)"
                                                title="Insert Loan">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayColumns;" class="student-element-row" style="cursor: pointer;"></tr>
                                </table>
                            </div>
                        </ng-container>
                        <ng-template #remainingDays>
                            <div class="absolute text-center m-auto">
                                <img src="../../../assets/images/calendarclock.jpg" style="height:170px;width:170px" alt="">
                                <h2>{{remainingString}} Days Remaining For Applying Fresh Loan!!</h2>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #NoLoan>
                        <div class="d-flex vertical-center nodata" style="height:calc(100vh - 420px)">
                        </div>
                    </ng-template>
                </ng-container>
                <ng-template #creditCardData>
                    <ng-container *ngIf="customerServices && customerServices.length > 0 else NoLoan">
                        <div class="table-responsive border-top userlist-table">
                            <table mat-table [dataSource]="customerServices" class=" customerTable mat-elevation-z8 table-striped table-vcenter" style="box-shadow: none;" aria-label="">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                        {{i + 1}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="employmentType">
                                    <th mat-header-cell *matHeaderCellDef>Employment Type</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element?.employmentType else NoValue">
                                            {{element.employmentType}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>

                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="panCardNo">
                                    <th mat-header-cell *matHeaderCellDef>PanCardNo</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="panCardNo else NoValue">
                                            {{panCardNo}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="applyDate">
                                    <th mat-header-cell *matHeaderCellDef>Apply Date</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.creditCardTransactionDate else NoValue">
                                            {{element.creditCardTransactionDate | date}}
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">--</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.status else NoValue">
                                            <span *ngIf="(element.status == 'PENDING' || element.status == 'REJECTED' ) else NoPending" style="color: #ff0000;">
                                                {{element?.status}}
                                            </span>
                                            <ng-template #NoPending>
                                                <span style="color: #0b9d0b;">{{element?.status}}</span>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #NoValue>
                                            <span class="text-center">Under Editing</span>
                                        </ng-template>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
                                    <td mat-cell *matCellDef="let element" class="text-right">
                                        <a *ngIf="(element.status == 'PENDING' || !element.status)" href="javascript:;" class="btn btn-sm btn-info"
                                            style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;" (click)="navigateEditCreditCardPage(element)" title="Insert Loan">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayCreditCardColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayCreditCardColumns;" class="student-element-row" style="cursor: pointer;"></tr>
                            </table>
                        </div>
                    </ng-container>
                    <ng-template #NoLoan>
                        <div class="d-flex vertical-center nodata" style="height:calc(100vh - 420px)">
                        </div>
                    </ng-template>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="isListServiceType">
                <ng-container *ngIf="otherservices && otherservices.length > 0 else NoLoan">
                    <div class="table-responsive border-top userlist-table">
                        <table mat-table [dataSource]="otherservices" class=" customerTable mat-elevation-z8 table-striped table-vcenter" style="box-shadow: none;" aria-label="">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef style="width:75px">#</th>
                                <td mat-cell *matCellDef="let element; let i = index;" style="width:75px">
                                    {{i + 1}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="aadhaarCardNo">
                                <th mat-header-cell *matHeaderCellDef>Aadhaar Card No</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.aadhaarCardNo else NoValue">
                                        {{element.aadhaarCardNo}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="panCardNo">
                                <th mat-header-cell *matHeaderCellDef>PAN Card No</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.panCardNo else NoValue">
                                        {{element.panCardNo}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="pincode">
                                <th mat-header-cell *matHeaderCellDef>Pin Code</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.pincode else NoValue">
                                        {{element.pincode}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef>City</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.city else NoValue">
                                        {{element.city}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="monthlyincome">
                                <th mat-header-cell *matHeaderCellDef>Monthly Income</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.monthlyincome else NoValue">
                                        ₹{{element.monthlyincome}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="birthdate">
                                <th mat-header-cell *matHeaderCellDef>Birthdate</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.birthdate else NoValue">
                                        {{element.birthdate | date}}
                                    </ng-container>
                                    <ng-template #NoValue>
                                        <span class="text-center">--</span>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
                                <td mat-cell *matCellDef="let element" class="text-right">
                                    <a title="Edit Reward Coin" href="javascript:;" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;"
                                        (click)="editDialog(element,basicmodal)">
                                        <i class="icon-pencil"></i>
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayColumnsServiceType; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumnsServiceType;" class="student-element-row" style="cursor: pointer;"></tr>
                        </table>
                    </div>
                </ng-container>
                <ng-template #NoLoan>
                    <div class="d-flex vertical-center nodata" style="height:calc(100vh - 420px)">
                    </div>
                </ng-template>
            </ng-container>


        </div>
        <div class="modal-footer">
            <button class="btn btn-info" (click)="closeDialog()" class="btn btn-sm btn-info" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                Cancel
            </button>
        </div>
    </div>
</ng-template>

<ng-template #basicmodal let-modal>
    <div>
        <form [formGroup]="otherLoanform">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-20">
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="fullName">Full Name</label>
                        <input class="form-control" type="text" name="fullName" formControlName="fullName" onlyAlphabets required>
                        <mat-error *ngIf="(otherLoanform.get('fullName') && !otherLoanform.get('fullName').valid && otherLoanform.get('fullName').touched)">
                            Full Name is required
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="birthdate">Date of birth</label>
                        <mat-form-field appearance="outline" class=" w-100" style="margin-top: -0.25em;" (click)="toggleMenuService.togglePickerStyles()">
                            <input matInput [matDatepicker]="filterPickerFrom" placeholder="Select Birthdate" formControlName="birthdate" name="birthdate" [readonly]="true"
                                (focus)="filterPickerFrom.open()" (click)="toggleMenuService.togglePickerStyles()">
                            <mat-datepicker-toggle matSuffix [for]="filterPickerFrom" (click)="toggleMenuService.togglePickerStyles()">
                            </mat-datepicker-toggle>
                            <mat-datepicker #filterPickerFrom></mat-datepicker>
                        </mat-form-field>
                        <mat-error *ngIf="(otherLoanform.get('birthdate') && !otherLoanform.get('birthdate').valid && otherLoanform.get('birthdate').touched)">
                            Date of birth is required
                        </mat-error>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="panCardNo">PAN Card No</label>
                        <input class="form-control" type="text" name="panCardNo" formControlName="panCardNo" maxlength="10" required oninput="this.value = this.value.toUpperCase()">
                        <mat-error *ngIf="(otherLoanform.get('panCardNo') && !otherLoanform.get('panCardNo').valid && otherLoanform.get('panCardNo').touched)">
                            <span *ngIf="otherLoanform.get('panCardNo').errors['required']">PanCardNo
                                is Required</span>
                            <span *ngIf="otherLoanform.get('panCardNo').errors.pattern">Enter
                                Valid PanCard</span>
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="aadhaarCardNo">Aadhaar Card No</label>
                        <input class="form-control" type="text" name="aadhaarCardNo" formControlName="aadhaarCardNo" maxlength="12" onlyNumbers required>
                        <mat-error *ngIf="(otherLoanform.get('aadhaarCardNo') && !otherLoanform.get('aadhaarCardNo').valid && otherLoanform.get('aadhaarCardNo').touched)">
                            <span *ngIf="otherLoanform.get('aadhaarCardNo').errors.required">
                                Aadhaar Card No is Required</span>
                            <span *ngIf="otherLoanform.get('aadhaarCardNo').errors.pattern">Enter
                                Valid Aadhaar Card No</span>
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="contactNo">Contact No</label>
                        <input class="form-control" type="text" name="contactNo" formControlName="contactNo" ContactNo required>
                        <mat-error *ngIf="(otherLoanform.get('contactNo') && !otherLoanform.get('contactNo').valid  && otherLoanform.get('contactNo').touched)">
                            <span *ngIf="otherLoanform.get('contactNo').errors.required">
                                ContactNo is Required</span>
                            <span *ngIf="otherLoanform.get('contactNo').errors.minlength">Enter
                                Valid ContactNo</span>
                        </mat-error>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" formControlName="email" required>
                        <mat-error *ngIf="(otherLoanform.get('email') && !otherLoanform.get('email').valid && otherLoanform.get('email').touched)">
                            Email is required
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="employmentTypeId">Employment Type</label>
                        <ng-select [items]="employments" class="js-example-basic-single p-0" placeholder="Select Employment Type" bindLabel="name" bindValue="id" formControlName="employmentTypeId"
                            name="employmentTypeId">
                        </ng-select>
                        <mat-error *ngIf="(otherLoanform.get('employmentTypeId') && !otherLoanform.get('employmentTypeId')?.valid && otherLoanform.get('employmentTypeId')?.touched)">
                            Employment Type is required
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="serviceId">Service Name</label>
                        <ng-select [items]="service" class="js-example-basic-single p-0" placeholder="Select Loan Type" bindLabel="name" bindValue="id" formControlName="serviceId" name="serviceId">
                        </ng-select>
                        <mat-error *ngIf="(otherLoanform.get('serviceId') && !otherLoanform.get('serviceId')?.valid && otherLoanform.get('serviceId')?.touched)">
                            Loan Type is required
                        </mat-error>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="addressline1">Address Line 1</label>
                        <input class="form-control" type="text" id="addressline1" formControlName="addressline1" placeholder="Type here" name="addressline1" required />
                        <mat-error *ngIf="(otherLoanform.get('addressline1') && !otherLoanform.get('addressline1')?.valid && otherLoanform.get('addressline1')?.touched)">
                            AddressLine1 is required
                        </mat-error>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="addressline2">Address Line 2</label>
                        <input class="form-control" type="text" id="addressline2" formControlName="addressline2" placeholder="Type here" name="addressline2" />

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="pincode">Pin Code</label>
                        <input class="form-control" type="text" id="pincode" formControlName="pincode" placeholder="Type here" maxlength="6" onlyNumbers (keyup)="onKeyUpEvent($event, true,false)"
                            required>
                        <mat-error *ngIf="(otherLoanform.get('pincode') && !otherLoanform.get('pincode')?.valid && otherLoanform.get('pincode')?.touched)">
                            Pin Code is required
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="cityId">City</label>
                        <ng-select [items]="cities" class="js-example-basic-single p-0" placeholder="Select city" bindLabel="name" bindValue="id" formControlName="cityId" name="cityId">
                        </ng-select>
                        <mat-error *ngIf="(otherLoanform.get('cityId') && !otherLoanform.get('cityId')?.valid && otherLoanform.get('cityId')?.touched)">
                            City is required
                        </mat-error>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="monthlyincome">Monthly Income</label>
                        <input class="form-control" type="text" name="monthlyincome" formControlName="monthlyincome" required onlyNumbers>
                        <mat-error *ngIf="(otherLoanform.get('monthlyincome') && !otherLoanform.get('monthlyincome').valid && otherLoanform.get('monthlyincome').touched)">
                            Monthly Income is required
                        </mat-error>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-info" (click)="insertUpdateotherLoan()" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                    Save
                </button>
                <button class="btn btn-sm btn-info" (click)="cancelUser()" style="padding: 10px 12px;border-radius: 10px;margin: 0 3px;">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>